h1 {
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  margin: 0px;
}

h3 {
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px 20px 10px 0px;
}

h5 {
    font-family: 'Chonburi', serif;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  margin: 0px 40px;
}

menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  background-color: #333333;
  display: flex;
  font-family: 'Goldman';
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  align-items: center;
}

menu ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

menu ul li a:hover {
  background-color: #111111;
  font-weight: 700;
}

main {
  margin-top: 50px;
}

.Splash2 {
  margin-top: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d2d2d2;
}

.Splash2 > div {
  /* flex-grow: 1;
  background-color: DodgerBlue;
  color: white; */
  margin: 10px;
  text-align: center;
  height: 500px;
}

.Splash {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 100px;
}

#Poster {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 300px;
}

#IntroText {
  width: 700px;
  flex-grow: 3;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
}

.ImageGallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../Images/purplenebula.png");
  background-repeat: repeat;
  height: 300px;
  margin-left: -20px;
  margin-right: -20px;
}

.ImageGallery img {
  max-height: 200px;
}

.Packages {
  display: flex;
  justify-content: center;
  align-items: center;
}